:root {
  --face-size: 8em;
  --exploded-cube-shadow-color: rgba(0, 0, 0, 0.15);
}

.cube {
  position: relative;
  width: var(--face-size);
  height: var(--face-size);
  transform-style: preserve-3d;
  transform-origin: center center calc(var(--face-size) / 2);
}

.cube--orientation-1 {
  transform: rotateX(45deg) rotateZ(45deg)
}

.cube--orientation-2 {
  transform: rotateX(45deg) rotateZ(-45deg)
}

.cube--orientation-3 {
  transform: rotateX(45deg) rotateZ(135deg)
}

.cube--orientation-4 {
  transform: rotateX(45deg) rotateZ(-135deg)
}

.cube--orientation-5 {
  transform: rotateX(-135deg) rotateZ(45deg)
}

.cube--orientation-6 {
  transform: rotateX(-135deg) rotateZ(-45deg)
}

.cube--orientation-7 {
  transform: rotateX(-135deg) rotateZ(135deg)
}

.cube--orientation-8 {
  transform: rotateX(-135deg) rotateZ(-135deg)
}

.cube--orientation-9 {
  transform: rotateY(90deg) rotateZ(45deg) rotateX(45deg);
}

.cube--orientation-10 {
  transform: rotateY(90deg) rotateZ(45deg) rotateX(-45deg);
}

.cube--orientation-11 {
  transform: rotateY(90deg) rotateZ(45deg) rotateX(135deg);
}

.cube--orientation-12 {
  transform: rotateY(90deg) rotateZ(45deg) rotateX(-135deg);
}

.cube--orientation-13 {
  transform: rotateY(90deg) rotateZ(-135deg) rotateX(45deg)
}

.cube--orientation-14 {
  transform: rotateY(90deg) rotateZ(-135deg) rotateX(-45deg)
}

.cube--orientation-15 {
  transform: rotateY(90deg) rotateZ(-135deg) rotateX(135deg)
}

.cube--orientation-16 {
  transform: rotateY(90deg) rotateZ(-135deg) rotateX(-135deg)
}

.cube--orientation-17 {
  transform: rotateX(135deg) rotateY(45deg);
}

.cube--orientation-18 {
  transform: rotateX(135deg) rotateY(-45deg);
}

.cube--orientation-19 {
  transform: rotateX(135deg) rotateY(135deg);
}

.cube--orientation-20 {
  transform: rotateX(135deg) rotateY(-135deg);
}

.cube--orientation-21 {
  transform: rotateX(-45deg) rotateY(45deg)
}

.cube--orientation-22 {
  transform: rotateX(-45deg) rotateY(-45deg)
}

.cube--orientation-23 {
  transform: rotateX(-45deg) rotateY(135deg)
}

.cube--orientation-24 {
  transform: rotateX(-45deg) rotateY(-135deg)
}

.cube__face {
  position: absolute;
  width: var(--face-size);
  height: var(--face-size);
  backface-visibility: visible;
  transform-style: preserve-3d;
}

.cube__face--front {
  top: 0;
  left: 0;
}

.cube__face--top {
  top: calc(-1 * var(--face-size));
  left: 0;
  transform-origin: 50% 100%;
  transform: rotateX(-90deg);
}

.cube__face--left {
  top: 0;
  left: calc(-1 * var(--face-size));
  transform-origin: 100% 50%;
  transform: rotateY(90deg);
}

.cube__face--right {
  top: 0;
  left: var(--face-size);
  transform-origin: 0 50%;
  transform: rotateY(-90deg);
}

.cube__face--bottom {
  top: var(--face-size);
  left: 0;
  transform-origin: 50% 0;
  transform: rotateX(90deg);
}

.cube__face--back {
  top: var(--face-size);
  left: 0;
  transform-origin: 50% 0;
  transform: rotateX(90deg);
}

.cube--exploded {
  transform: rotateZ(15deg) rotateY(-30deg) rotateX(30deg);
}

.cube--exploded .cube__face--top {
  transform: rotateX(-15deg);
}

.cube--exploded .cube__face--left {
  transform: rotateY(15deg);
}

.cube--exploded .cube__face--right {
  transform: rotateY(-15deg);
}

.cube--exploded .cube__face--bottom {
  transform: rotateX(15deg);
}

.cube--exploded .cube__face--back {
  transform: rotateX(15deg);
}


.cube--exploded .cube__face::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0, var(--exploded-cube-shadow-color) 100%);
}

.cube--exploded .cube__face--front::after {
  background: radial-gradient(rgba(0,0,0,0) 40%, var(--exploded-cube-shadow-color) 100%)
}

.cube--exploded .cube__face--top::after {
  background: linear-gradient(180deg, rgba(0,0,0,0) 0, var(--exploded-cube-shadow-color) 100%);
}

.cube--exploded .cube__face--left::after {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0, var(--exploded-cube-shadow-color) 100%);
}

.cube--exploded .cube__face--right::after {
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0, var(--exploded-cube-shadow-color) 100%);
}

.cube--unfolded {
  transform: none;
  transition: transform 2.5s;
}

.cube--unfolded .cube__face {
  transform: none;
  transition: transform 1s;
}

.cube,
.cube__face {
  transition: transform 1s;
}

.solution .cube {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(var(--face-size) / -2);
  margin-left: calc(var(--face-size) / -2);
}

.solution .cube,
.solution .cube__face,
.options--no-choice .cube,
.options--no-choice .cube__face {
  transition: none;
}
